@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
	--color-white: hsl(0, 0%, 100%);
	--color-light-gray: hsl(212, 45%, 89%);
	--color-grayish blue: hsl(220, 15%, 55%);
	--color-dark-blue: hsl(218, 44%, 22%);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	font-size: 16px;
	height: 100vh;
	background: var(--color-light-gray);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Outfit', sans-serif;
}


#container {
	width: 260px;
	height: 390px;
	background: var(--color-white);
	border-radius: 15px;
}

#qrcode {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

#qrcode img {
	width: 230px;
	border-radius: 10px;
}

#text {
	text-align: center;
}

#text .one {
	font-size: 1.2em;
	font-weight: 700;
	padding: 0px 5px;
	padding-bottom: 15px;
	color: var(--color-dark-blue);
}

#text .two, .three {
	font-size: 0.8em;
	font-weight: 400;
	padding: 0px 5px;
	color: var(--color-light-gray);
}